* {
    margin: 0;
    padding: 0;
}
body {
    background-color: black;
    color: white;
}
.wrapper {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
}
.wrapper>* {
    padding: 10px;
    margin: 10px;
    flex: 1 100%;
    border-radius: 10px
}

.bar {
  display: flex;
  margin: 0;
  justify-content: space-between;
  align-items: center;
}

.options {
    background-color: black;
    border-radius: 10%
}
#search {
  display: flex;
   flex-direction: column;
   margin: 0;
   height: 100vh;
   align-items: center;
}
#codesearch {
  border-radius: 5%;
  height: 7%;
  width: 70%
}
/* #container {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
} */
.display {
  display: flex;
  text-align: left;
   align-content: flex-start;
   flex-direction: column;
}





















/* Mobile first Design



/* #container {
    display: grid;
    color: white;
    /* width: 100%; */
/* } */
/* #search {
    width: 100VW;

} */
/* h1,h2 {
    color: white;
} */
/* #options {
    display: flex;
    justify-content: space-between;
    width: inherit;
} */
/* #bar {
    display: flex;
    justify-content: space-between;
} */
/* body {
    display: flex;
    flex-direction: row;
    background-color: rgb(0, 0, 0);
    margin: 0%;
} */
/* SEARCH BAR */
/* #codesearch {
    display: flex; */

/*} */

/* @media only screen and (min-width: 428px) and (max-width: 767px) { /* Your Styles... */ /*} */
/* @media screen and (orientation:portrait) {    /* ... */  /*} */
/* @media screen and (orientation: landscape) {
    /* ... */
 /* } */
